/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Pinyon Script', cursive; */

/* font-family: 'Vidaloka', serif;
font-family: 'Raleway', sans-serif; */

html{
    height: 100%;
}


body{
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}
header{
    background: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar{
    width: 90%;
    margin: auto;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

}

.navbar li{
    list-style-type: none;
    text-align: center;
    flex-grow: 1;
    margin: 10px;
}

.register{
    border: 2px solid #6b00b3;
    font-size: 14px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 14px;
    color:gray;
}

.register:hover{
    background: lightgray;
    color: purple;
}
/* .register{
    font-size: 14px;
    padding-top: 20px;
} */

.nav-items{
    text-decoration: none;
    color: gray;
    font-size: 14px;
    text-transform: uppercase;
}
.nav-items:hover{
    color:#a64dff;
}

.rsvp-banner{
    text-align: center;
    /* background-image: url("images/rsvpbackgroundbanner.jpg"); */
    background: #e6ffff;
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    color: black;
    padding-top: 50px;
    padding-bottom: 100px;
}

.rsvp-button,
.register-now,
.view-map{
    padding: 15px 50px;
    color: white;
    background: #7a00cc;
    border: 2px #7a00cc solid;
}

.rsvp-button,
.register-now{
    margin-top: 40px;
}

.rsvp-button:hover,
.register-now:hover,
.view-map:hover{
    background: #6b00b3;
    border: 2px #6b00b3 solid;
}

.cursive{
    font-family: 'Vidaloka', cursive;
}
.rsvp-banner h2{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Vidaloka', sans-serif;
}

.rsvp-banner h3{
    font-family: 'Vidaloka', sans-serif;
}

.story-banner h1,
.bigday-banner h1,
.gettingthere-banner h1,
.bridesmaids-banner h1,
.groomsmen-banner h1{
    color: gray;
}

.flower-img{
    transform: rotate(10deg);
}

.weddinghands{
    background-image: url("images/weddingrings.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

footer{
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

footer p{
    margin: 0;
    font-size: 14px;
    padding: 0;
    text-align: center;
}

.footer-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: auto;
}

.footer-social{
    /* padding-top: 10px; */
}

.footer-social a{
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.story-banner,
.bigday-banner,
.bridesmaids-banner,
.gettingthere-banner{
    background: #e6ffff;
    text-align: center;
}

.groomsmen-banner{
    background: white;
    text-align: center;
}

.story-banner,
.gettingthere-banner{
    padding-top: 20px;
    padding-bottom: 20px;
}

.bigday-banner{
    padding-top: 20px;
    padding-bottom: 100px;
}

.bridesmaids-banner,
.groomsmen-banner{
    padding-top: 50px;
    padding-bottom: 100px;
}

.where{
    margin-top: 90px;
}

.when,
.where{
    font-size: 14px;
    color: gray;
}

/* CSS for Story Page */
/* .content{
    width: 60%;
    margin: auto;
    line-height: 2;
}

.left{
    float: left;
    width: 30%;
}

.right{
    float: right;
    width: 30%;
} */

.content{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: auto;

}
.left{
    width: 40%;
    padding: 10px;
    font-size: 18px;
    color: gray;
    line-height: 2;
}

.right{
    width: 40%;
    padding: 10px;
    font-size: 18px;
    color: gray;
    line-height: 2;
}

.left img,
.right img{
    width: 100%;
}

/* CSS for EngagementWeddingParty */

.bridesmaids-container,
.groomsmen-container{
    width: 70%;
    margin: auto;
}

.bridesmaids-section,
.groomsmen-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 70px;
}


.bridesmaids,
.groomsmen{
    padding: 10px;
    color: gray;
}

.bridesmaids img,
.groomsmen img{
    width: 100%;
}

/* CSS for EngagementDetails Page */
.accomodation,
.transportation{
    width: 35%;
    margin: auto;
    font-size: 16px;
    line-height: 1.8;
    color: gray;
    margin-bottom: 50px;
}

.gettingthere-banner{
    padding-top: 100px;
    padding-bottom: 100px;
}

.registry{
    width: 35%;
    margin: auto;
    text-align: center;
    color: gray;
    line-height: 1.8;
    font-size: 16px;
    padding-bottom: 60px;
}

.registry-banner{
    padding-top: 50px;
    padding-bottom: 150px;
}

.registry-images{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;

     
}
.registry-images img{
    height: 40px;
   
}

.registry-images img{
    padding-left: 40px;
    padding-right: 40px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Media Queries */

@media(max-width: 750px){
     .content{
        flex-direction: column;
        width: 80%;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

}

@media(max-width: 950px){
    .navbar ul{
        flex-direction: column;
    }

    .registry-images{
        flex-direction: column;
    }

    .registry-images img{
        padding: 20px;
    }

    .footer-end{
       flex-direction: column;
    }

    .footer-end p{
        font-size: 12px;
        text-align: center;
    }

    .footer-social{
        display: flex;
        justify-content: space-between;
    }

    .footer-social a{
        padding-left: 0px;
    }
}