$white-border: #f2f2f2;
$link-hover: #a64dff;
$purple: #7a00cc;
$dark-purple: #6b00b3;
$light-blue: #e6ffff;
$black: #424238;
$dark-gray: #6F6F6A;
$header-font: 'Vidaloka', sans-serif;

html{
    height: 100%;
}


body{
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
}

header{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $white-border;
}

.navbar{
    width: 90%;
    margin: auto;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      li{
        list-style-type: none;
        text-align: center;
        flex-grow: 1;
        margin: 10px;
      }
      .nav-items{
        text-decoration: none;
        color: gray;
        font-size: 14px;
        text-transform: uppercase;
      }
      .nav-items:hover{
        color:$link-hover;
      }
  }
}

.rsvp-banner{
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/white-roses.jpg");
    height: calc(100vh-100px);
    color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    h1{
      margin: 0;
      font-family: $header-font;
    }
    h2{
      font-size: 70px;
      text-transform: uppercase;
      font-family: $header-font;
    }
    h3{
      font-family: $header-font;
    }
    button{
      padding: 15px 50px;
      color: white;
      background: $purple;
      border: 2px $purple solid;
      font-size: 14px;
      margin-top: 40px;
    }
    button:hover{
      background: $dark-purple;
      border: 2px $dark-purple solid;
    }
}


.register-now,
.view-map{
    padding: 15px 50px;
    color: white;
    background: $purple;
    border: 2px $purple solid;
    font-size: 14px;
}


.register-now{
    margin-top: 40px;
}

.register-now:hover,
.view-map:hover{
    background: $dark-purple;
    border: 2px $dark-purple solid;
}

.cursive{
    font-family: $header-font;
}

.flower-img{
    transform: rotate(10deg);
}

.weddinghands{
    background-image: url("../images/weddingrings.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    p {
      margin: 0;
      font-size: 14px;
      padding: 0;
      text-align: center;
    }
}

.footer-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    margin: auto;
}


.footer-social a{
    padding-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* CSS for Story Page */

// .content{
//     display: flex;
//     width: 60%;
//     justify-content: space-between;
//     margin: auto;

// }
// .left{
//     width: 40%;
//     padding: 10px;
//     font-size: 18px;
//     line-height: 2;
// }

// .right{
//     width: 40%;
//     padding: 10px;
//     font-size: 18px;
//     line-height: 2;
// }

// .left img,
// .right img{
//     width: 100%;
// }

.story-content{
    background: $light-blue;
    h1{
      padding: 30px;
      margin: 0;
      text-align: center;
      font-family: $header-font;
      font-size: 40px;
      color: $black;
    }
    h3{
      text-transform: uppercase;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 400;
      letter-spacing: 4px;
      color: $dark-gray;
    }
}

.story-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    max-width: 960px;
    margin: auto;
    padding: 20px;
    div{
      padding: 10px;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
    }
    p{
      color: $dark-gray;
    }
    img{
      width: 100%;
    }
}

/* CSS for Engagement Wedding Page */

.bigday-banner{
  width: 100%;
  background: $light-blue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
  h1{
    padding: 30px;
    margin: 0;
    text-align: center;
    font-family: $header-font;
    font-size: 40px;
    color: $black;
  }
}

.where{
    margin-top: 90px;
}

.when,
.where{
    font-size: 14px;
    color: $dark-gray;
}


/* CSS for EngagementWeddingParty */

.bridesmaids-banner,
.groomsmen-banner{
    width: 100%;
    background: $light-blue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    h1{
      font-family: $header-font;
      padding: 30px;
      margin: 0;
      text-align: center;
      font-family: $header-font;
      font-size: 40px;
      color: $black;
    }
    h3{
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 400;
      letter-spacing: 4px;
    }
}

.groomsmen-banner{
    background: white;
}

.bridesmaids-container,
.groomsmen-container{
    width: 70%;
    margin: auto;
    max-width: 1000px;
}

.bridesmaids-section,
.groomsmen-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.bridesmaids,
.groomsmen{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $dark-gray;
    img{
      width: 100%;
    }

}



/* CSS for EngagementDetails Page */

.gettingthere-banner{
    width: 100%;
    background: $light-blue;
    text-align: center;
}

.gettingthere-banner{
    padding-top: 20px;
    padding-bottom: 20px;
}

.accomodation,
.transportation{
    width: 50%;
    margin: auto;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 50px;
    color: $dark-gray;
}

.accomodation h3,
.transportation h3{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    letter-spacing: 4px;
}

.gettingthere-banner{
    padding-top: 100px;
    padding-bottom: 100px;
}

.registry{
    width: 35%;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 16px;
    padding-bottom: 60px;
    color: $dark-gray;
}

.registry h2{
    padding: 10px;
    margin: 0;
    text-align: center;
    font-family: $header-font;
    font-size: 30px;
    color: $black;
}


.bridesmaids,
.groomsmen{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $dark-gray;

}

.registry-banner{
    padding-top: 50px;
    padding-bottom: 150px;
}

.registry-images{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;

     
}
.registry-images img{
    height: 40px;
   
}

.registry-images img{
    padding-left: 40px;
    padding-right: 40px;
}

/* Register Now Page */

.register-now-content{
    height: 100vh;
    background: $light-blue;
}

.register-now-grid{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 300px;
    max-width: 1000px;
}
.register-now-content h1{
    margin: 0;
    font-family: $header-font;

}

.register-now-form{
    width: 70%;
    margin: 0 auto;
}

.register-now-form input{
    border: 1px solid lightgrey;
    background: $light-blue;
    padding: 10px 5px;
    font-size: 16px;

}

.register-now-form input:focus{
    border: 1px solid black;
    background: $light-blue;
}

.grid-two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px 0;
}

.flex-row{
    display: flex;
    flex-direction: column; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.register-now-address{
    background: #755b86;
    width: 250px;
    height: 125px;
    color: rgb(244, 239, 248);
    text-align: left;
    padding: 20px 15px;
    box-shadow: 2px 2px 4px rgb(88, 87, 87);
}

.register-now-address span{
    font-size: 24px;
    padding: 10px 0;
    text-transform: uppercase;
}

.register-now-address p{
    margin: 0;
}

.submit{
    padding-top: 15px;
}

.submit button{
    padding: 15px 0;
    background: #755b86;
    color: white;
    text-transform: uppercase;
}

.submit button:hover{
    background: hsla(276, 19%, 44%, 0.8);
}

.chapel{
    padding: 40px 0;
    color: rgb(231, 221, 240);
}

/* Media Queries */

@media(max-width: 950px){
    
    .navbar ul{
        flex-direction: column;
        padding: 0;
    }

    .registry-images{
        flex-direction: column;
    }

    .registry-images img{
        padding: 20px;
    }

    .footer-end{
       flex-direction: column;
    }

    .footer-end p{
        font-size: 12px;
        text-align: center;
    }

    .footer-social{
        display: flex;
        justify-content: space-between;
    }

    .footer-social a{
        padding-left: 0px;
    }

   .story-col{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        max-width: 960px;
        margin: auto;
        padding: 20px;
    }

    .bridesmaids-container,
    .groomsmen-container{
        width: 70%;
        margin: auto;
    }

    .bridesmaids-section,
    .groomsmen-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

}

@media(max-width: 750px){
     .content{
        flex-direction: column;
        width: 80%;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .bridesmaids-container,
    .groomsmen-container{
        width: 70%;
        margin: auto;
    }

    .bridesmaids-section,
    .groomsmen-section{
        display: grid;
        grid-template-columns: 1fr;
    }

    .accomodation,
    .transportation{
        width: 80%;
    }

    .registry{
        width: 65%;
    }

    .register-now-grid{
        padding-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .register-now-address{
        display: none;
    }

    .grid-two-col{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

