html {
  height: 100%;
}

body {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.navbar {
  width: 90%;
  margin: auto;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.navbar ul li {
  list-style-type: none;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px;
}

.navbar ul .nav-items {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar ul .nav-items:hover {
  color: #a64dff;
}

.rsvp-banner {
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/white-roses.jpg");
  height: calc(100vh-100px);
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
}

.rsvp-banner h1 {
  margin: 0;
  font-family: "Vidaloka", sans-serif;
}

.rsvp-banner h2 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: "Vidaloka", sans-serif;
}

.rsvp-banner h3 {
  font-family: "Vidaloka", sans-serif;
}

.rsvp-banner button {
  padding: 15px 50px;
  color: white;
  background: #7a00cc;
  border: 2px #7a00cc solid;
  font-size: 14px;
  margin-top: 40px;
}

.rsvp-banner button:hover {
  background: #6b00b3;
  border: 2px #6b00b3 solid;
}

.register-now,
.view-map {
  padding: 15px 50px;
  color: white;
  background: #7a00cc;
  border: 2px #7a00cc solid;
  font-size: 14px;
}

.register-now {
  margin-top: 40px;
}

.register-now:hover,
.view-map:hover {
  background: #6b00b3;
  border: 2px #6b00b3 solid;
}

.cursive {
  font-family: "Vidaloka", sans-serif;
}

.flower-img {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.weddinghands {
  background-image: url("../images/weddingrings.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
}

footer p {
  margin: 0;
  font-size: 14px;
  padding: 0;
  text-align: center;
}

.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  margin: auto;
}

.footer-social a {
  padding-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* CSS for Story Page */
.story-content {
  background: #e6ffff;
}

.story-content h1 {
  padding: 30px;
  margin: 0;
  text-align: center;
  font-family: "Vidaloka", sans-serif;
  font-size: 40px;
  color: #424238;
}

.story-content h3 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  letter-spacing: 4px;
  color: #6F6F6A;
}

.story-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 150px;
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

.story-col div {
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.story-col p {
  color: #6F6F6A;
}

.story-col img {
  width: 100%;
}

/* CSS for Engagement Wedding Page */
.bigday-banner {
  width: 100%;
  background: #e6ffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.bigday-banner h1 {
  padding: 30px;
  margin: 0;
  text-align: center;
  font-family: "Vidaloka", sans-serif;
  font-size: 40px;
  color: #424238;
}

.where {
  margin-top: 90px;
}

.when,
.where {
  font-size: 14px;
  color: #6F6F6A;
}

/* CSS for EngagementWeddingParty */
.bridesmaids-banner,
.groomsmen-banner {
  width: 100%;
  background: #e6ffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.bridesmaids-banner h1,
.groomsmen-banner h1 {
  font-family: "Vidaloka", sans-serif;
  padding: 30px;
  margin: 0;
  text-align: center;
  font-family: "Vidaloka", sans-serif;
  font-size: 40px;
  color: #424238;
}

.bridesmaids-banner h3,
.groomsmen-banner h3 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  letter-spacing: 4px;
}

.groomsmen-banner {
  background: white;
}

.bridesmaids-container,
.groomsmen-container {
  width: 70%;
  margin: auto;
  max-width: 1000px;
}

.bridesmaids-section,
.groomsmen-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.bridesmaids,
.groomsmen {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #6F6F6A;
}

.bridesmaids img,
.groomsmen img {
  width: 100%;
}

/* CSS for EngagementDetails Page */
.gettingthere-banner {
  width: 100%;
  background: #e6ffff;
  text-align: center;
}

.gettingthere-banner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.accomodation,
.transportation {
  width: 50%;
  margin: auto;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 50px;
  color: #6F6F6A;
}

.accomodation h3,
.transportation h3 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  letter-spacing: 4px;
}

.gettingthere-banner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.registry {
  width: 35%;
  margin: auto;
  text-align: center;
  line-height: 1.8;
  font-size: 16px;
  padding-bottom: 60px;
  color: #6F6F6A;
}

.registry h2 {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-family: "Vidaloka", sans-serif;
  font-size: 30px;
  color: #424238;
}

.bridesmaids,
.groomsmen {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #6F6F6A;
}

.registry-banner {
  padding-top: 50px;
  padding-bottom: 150px;
}

.registry-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.registry-images img {
  height: 40px;
}

.registry-images img {
  padding-left: 40px;
  padding-right: 40px;
}

/* Register Now Page */
.register-now-content {
  height: 100vh;
  background: #e6ffff;
}

.register-now-grid {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  max-width: 1000px;
}

.register-now-content h1 {
  margin: 0;
  font-family: "Vidaloka", sans-serif;
}

.register-now-form {
  width: 70%;
  margin: 0 auto;
}

.register-now-form input {
  border: 1px solid lightgrey;
  background: #e6ffff;
  padding: 10px 5px;
  font-size: 16px;
}

.register-now-form input:focus {
  border: 1px solid black;
  background: #e6ffff;
}

.grid-two-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 20px 0;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.register-now-address {
  background: #755b86;
  width: 250px;
  height: 125px;
  color: #f4eff8;
  text-align: left;
  padding: 20px 15px;
  -webkit-box-shadow: 2px 2px 4px #585757;
          box-shadow: 2px 2px 4px #585757;
}

.register-now-address span {
  font-size: 24px;
  padding: 10px 0;
  text-transform: uppercase;
}

.register-now-address p {
  margin: 0;
}

.submit {
  padding-top: 15px;
}

.submit button {
  padding: 15px 0;
  background: #755b86;
  color: white;
  text-transform: uppercase;
}

.submit button:hover {
  background: rgba(116, 91, 134, 0.8);
}

.chapel {
  padding: 40px 0;
  color: #e7ddf0;
}

/* Media Queries */
@media (max-width: 950px) {
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .registry-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registry-images img {
    padding: 20px;
  }
  .footer-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-end p {
    font-size: 12px;
    text-align: center;
  }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-social a {
    padding-left: 0px;
  }
  .story-col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 960px;
    margin: auto;
    padding: 20px;
  }
  .bridesmaids-container,
  .groomsmen-container {
    width: 70%;
    margin: auto;
  }
  .bridesmaids-section,
  .groomsmen-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

@media (max-width: 750px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .bridesmaids-container,
  .groomsmen-container {
    width: 70%;
    margin: auto;
  }
  .bridesmaids-section,
  .groomsmen-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .accomodation,
  .transportation {
    width: 80%;
  }
  .registry {
    width: 65%;
  }
  .register-now-grid {
    padding-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .register-now-address {
    display: none;
  }
  .grid-two-col {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
/*# sourceMappingURL=style.css.map */